#tasks {
  padding: 20px 15px 5px;
  display: flex;
  flex-direction: column;
}

#tasks .wrapper_list {
  width: 100%;
  flex: 2;
  border-radius: var(--global-radius);
  padding: 10px 10px 0px 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(250, 250, 250, 1);
}

#tasks .wrapper_list .list_header > div {
  color: var(--global-dark);
  font: var(--global-l-font-style) !important;
}

/* radio group button -> check circle */
#tasks .wrapper_list .css-160ry1v-MuiButtonBase-root-MuiRadio-root.Mui-checked,
#tasks .wrapper_list .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: var(--global-primary-color) !important;
}

/* radio group -> label  */
#tasks .wrapper_list .MuiTypography-root {
  font: var(--global-s-font-style);
  color: var(--global-dark);
}

/* position radio label  */
.css-qfz70r-MuiFormGroup-root {
  justify-content: center;
}

/* search  & select */
#tasks input.input-form,
#tasks select {
  width: 100%;
  /* width: 224px; */
  height: 37px;
  background-color: var(--global-ligth-color);
  border: 1px solid var(--global-gray-color);
  border-radius: var(--global-radius);
  color: var(--global-dim-gray-color);
  flex: 1 1;
  font: var(--global-s-font-style);
  margin-bottom: 0.2rem;
  outline: 0;
  padding: 10px;
  position: relative;

  box-sizing: border-box;
  /* padding: 11.92px 10px; */
  display: flex;
  flex-direction: column;
}

#tasks input.input-form:focus,
#tasks select:focus {
  border: var(--global-blue-color);
  border: 1px solid var(--global-blue-color);
  outline: none;
}

/* div -> filters */
#tasks .filters > div {
  display: flex;
  flex-direction: column;
}

/* input and select filters */
#tasks .search > input.input-form,
#tasks .select > select.importance {
  width: 100%;
  color: var(--global-gray-dark-color);
}

#tasks .search {
  margin-bottom: 0.5rem;
}

#tasks .wrapper_list .error {
  color: var(--global-primary-color);
  font: var(--global-s-font-style);
}

#tasks .wrapper_list .list_group {
  /* display: none; */
  display: flex;
  flex-direction: row;
  gap: 5px 10px;
  margin-top: 0.2rem;
  color: var(--global-dark);
  font: var(--global-s-font-style); /* VER en FIGMA si es este */
}

#tasks .wrapper_list .list_group .list {
  flex: 1;
  margin-bottom: 1.5rem;
  padding: 10px;
  border-radius: var(--global-radius);
  /* box-shadow: 0 2px 5px var(--global-gray-color); */
  box-shadow: var(--global-shadow-box-cards);
  color: var(--global-ligth-color);
  background-color: var(--global-ligth-color);
}

#tasks .wrapper_list .list_group .list > div {
  margin: 0 0 5px;
  color: var(--global-dark);
  font: var(--global-ml-font-style);
}

#tasks > section.wrapper_list > div:nth-child(3) {
  padding: 20px 0 20px 10px;
}

@media (min-width: 900px) {
  #tasks {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  #tasks .wrapper_list {
    padding: 20px 10px 0px 8px;
  }

  .task-form > div:first-child {
    padding-top: 19px;
  }

  #tasks .filters {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  #tasks .filters > div {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
    padding: 0;
  }

  #tasks .filters > div:nth-child(2) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  #tasks .search {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  #tasks .wrapper_list {
    padding: 20px 8px 0px 4px;
  }

  #tasks .wrapper_list.no-tasks {
    height: calc(100vh - 96.8px);
  }

  #tasks .wrapper_list .list_header > div {
    padding-left: 5px;
  }

  #tasks input.input-form,
  #tasks select {
    /* width: 218px; */
    width: 182px;
  }

  #tasks .filters {
    flex-direction: row;
    justify-content: space-between;
  }

  .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
    padding: 0 !important;
    margin: 0;
  }

  #tasks .wrapper_list .css-160ry1v-MuiButtonBase-root-MuiRadio-root.Mui-checked,
  #tasks .wrapper_list .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    padding: 9px 9px 9px 4px;
  }

  #tasks .search > input.input-form,
  #tasks .select > select.importance {
    width: 224px;
  }

  /* .task-form > form > div > div {
    flex: auto;
  } */

  /* .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  /* .filters input,
  .filters select {
    height: 3rem;
  } */
}
