main {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.registered {
  width: 80%;
  padding: 20px 0;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--global-radius);
}

section.registered > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.registered > div > div.title {
  padding-top: 10px;
  font: var(--global-xl-font-style);
}

section.registered > div > img {
  width: 60%;
  padding-top: 10px;
}

section.registered > p {
  width: 100%;
  font: var(--global-m-font-style);
  padding: 10px 0;
  margin: 0;
}

section.registered > p.p-id-team {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.registered .btn-copy {
  text-align: center;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  font: var(--global-l-font-style);
  background-color: var(--global-ligth-color);
  outline: 1px solid var(--global-blue-color);
  color: var(--global-blue-color);
  text-decoration: none;
  border: var(--global-border);
  border-radius: var(--global-radius);
}

section.registered .btn-copy:hover {
  color: var(--global-ligth-color);
  background-color: var(--global-blue-color);
  outline: 2px solid var(--global-blue-color);
}

section > p > button > .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.8rem !important;
}

section.registered .btn-link {
  text-align: center;
  padding: 10px 20px;
  font: var(--global-l-font-style);
  background-color: var(--global-primary-color);
  text-decoration: none;
  color: var(--global-gray-color);
  border: var(--global-border);
  border-radius: var(--global-radius);
}

section.registered > div:nth-child(2) .btn-link:hover {
  outline: 2px solid hsl(7, 75%, 51%);
  background-color: var(--global-ligth-color);
  color: hsl(7, 75%, 51%);
}

@media screen and (min-width: 470px) {
  section.registered {
    width: 50%;
    padding: 20px 10px;
    justify-content: center;
    outline: 10px outset var(--global-blue-color);
  }

  section.registered > div {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }

  section.registered > div > img {
    width: 150px;
    padding-bottom: 10px;
  }

  section.registered .btn-copy {
    margin-left: 10px;
  }

  section.registered > div > a {
    width: 150px;
    padding: 5px 0 17px 0;
  }
}
