main {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 80%;
  padding: 20px 0;
  text-align: center;
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > div > div.title {
  padding-top: 10px;
  font: var(--global-xl-font-style);
}

section > div > img {
  width: 60%;
  padding-top: 10px;
}

section > p {
  width: 100%;
  font: var(--global-m-font-style);
  padding: 10px 0;
}

section > p.p-id-team {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .btn-copy {
  text-align: center;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  font: var(--global-l-font-style);
  background-color: var(--global-ligth-color);
  outline: 1px solid var(--global-blue-color);
  color: var(--global-blue-color);
  text-decoration: none;
  border: var(--global-border);
  border-radius: var(--global-radius);
}

section .btn-copy:hover {
  color: var(--global-ligth-color);
  background-color: var(--global-blue-color);
  outline: 2px solid var(--global-blue-color);
}

section .btn-link {
  text-align: center;
  padding: 10px 20px;
  font: var(--global-l-font-style);
  background-color: var(--global-primary-color);
  text-decoration: none;
  color: var(--global-gray-color);
  border: var(--global-border);
  border-radius: var(--global-radius);
}

section > div:nth-child(2) .btn-link:hover {
  outline: 2px solid hsl(7, 75%, 51%);
  background-color: var(--global-ligth-color);
  color: hsl(7, 75%, 51%);
}

@media screen and (min-width: 470px) {
  section {
    width: 50%;
    padding: 20px 0;
  }

  section > div {
    display: flex;
    align-items: center;
  }

  section > div > img {
    width: 150px;
    padding-bottom: 10px;
  }

  section .btn-copy {
    margin-left: 10px;
  }

  section > div > a {
    width: 150px;
    padding: 5px 0 17px 0;
  }
}
