/* error */
.swal2-container.swal2-center > .swal2-popup {
  color: var(--global-gray-dark-color);
  border: 2px solid var(--global-primary-color);
  background: var(--global-ligth-color);
}

.swal2-styled.swal2-confirm {
  background-color: hsl(234, 70%, 53%);
  outline: 2px solid hsl(224, 62%, 45%);
  line-height: 1.1;
}

.swal2-styled.swal2-confirm:hover {
  background-color: var(--global-ligth-color);
  color: hsl(224, 70%, 53%);
  outline: 4px solid hsl(224, 62%, 45%);
}

.swal2-timer-progress-bar {
  height: 0.26em;
  background: linear-gradient(90deg, var(--global-primary-color), hsl(204, 70%, 53%));
}

/* success  */
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
  border: 2px solid rgb(33, 77, 135);
}

.swal2-title {
  line-height: 1.1;
}
