@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  /* example -> log in -> title  */
  --global-xl-font-style: 600 24px/29px "Inter", sans-serif;

  /* example -> my tasks -> subtitle */
  --global-l-font-style: 600 18px/22px "Inter", sans-serif;

  /* example -> state tasks */
  --global-ml-font-style: 600 15px/18px "Inter", sans-serif;

  /* example -> estados status */
  --global-mml-font-style: 600 12px/15px "Inter", sans-serif;

  /* example -> labels  */
  --global-m-font-style: 400 15px/18px "Inter", sans-serif;

  /* example -> msj error  */
  --global-sm-font-style: 400 14px/17px "Inter", sans-serif;

  /* example -> text switch  */
  --global-s-font-style: 400 12px/15px "Inter", sans-serif;

  /* example -> create task card */
  --global-xs-font-style: 400 8px/10px "Inter", sans-serif;

  --global-primary-color: rgba(255, 69, 43, 1);
  --global-ligth-color: rgba(255, 255, 255, 1);
  /* --global-dim-ligth-color:rgba(233, 233, 233, 1); */
  --global-dark: rgba(0, 0, 0, 1);
  --global-gray-color: rgba(229, 229, 229, 1);
  --global-dim-gray-color: rgba(139, 139, 139, 1);
  --global-gray-dark-color: rgba(60, 60, 60, 1);
  --global-blue-color: hsl(198, 60%, 50%); /* focus inputs */

  --global-border: 1px solid rgba(233, 233, 233, 1);
  --global-radius: 8px;
  --global-shadow-box-cards: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  font: var(--global-sm-font-style);
}

input:focus,
select:focus {
  outline: 1px solid var(--global-blue-color);
}

.error {
  font: var(--global-sm-font-style);
  color: var(--global-primary-color);
}
