.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth > form {
  width: 441px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: var(--global-ligth-color);
  border: var(--global-border);
  border-radius: var(--global-radius);
}

.auth > form > div:first-child {
  width: 441px;
}

.auth > form > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px 13px 0 20px;
}

.auth > form > div > div.title {
  font: var(--global-xl-font-style);
}

.auth > form > div > div > label {
  font: var(--global-m-font-style);
}

.auth input {
  width: 388px;
  height: 31px;
  padding-left: 10px;
  border: var(--global-border);
  border-radius: var(--global-radius);
}

.auth button {
  width: 402px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font: var(--global-m-font-style);
  border: 0;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  color: var(--global-ligth-color);
}

.auth button:hover {
  border: 1px solid var(--global-primary-color);
  background-color: var(--global-ligth-color);
  color: var(--global-primary-color);
}

.auth button[type="submit"]:disabled {
  border: var(--global-border);
  background-color: var(--global-gray-color);
  color: var(--global-gray-dark-color);
}

.auth div.div-a {
  padding: 10px 0 20px 0;
}

.auth a.a-form {
  font: var(--global-m-font-style);
  text-decoration: none;
  color: var(--global-dark);
}

.auth input:focus,
.auth select:focus {
  outline: 2px solid var(--global-blue-color);
}

.auth input.error,
.auth select.error {
  border: 1px solid var(--global-primary-color);
  outline: none;
}

.auth span.error {
  padding-top: 10px;
}

/* register  */

/* switch  */
.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
  padding: 20px 0 0 20px;
}

/* switch shadow ball off  */
.shadow .MuiSwitch-thumb.css-jsexje-MuiSwitch-thumb {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

/* switch color ball checked  */
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: var(--global-primary-color) !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase {
  transition: all 0.5s ease-in-out !important;
}

/* switch input */
.MuiSwitch-track.css-1yjjitx-MuiSwitch-track {
  background-color: rgba(255, 197, 190, 1) !important;
}

/* switch label  */
.MuiTypography-root {
  font: var(--global-s-font-style) !important;
}

.auth select {
  width: 401px;
  height: 37px;
  padding-left: 10px;
  background-color: var(--global-ligth-color);
  border: var(--global-border);
  border-radius: var(--global-radius);
}

.auth select.error > option {
  color: var(--global-dark);
  font-weight: 500;
}

@media screen and (max-width: 472px) {
  .auth {
    padding: 30px 0px 0px 0px;
    min-height: calc(100vh - 170px);
  }

  .auth > form,
  .auth > form > div:first-child {
    width: 100%;
  }

  .auth > form > div > div {
    /* padding: 15px 10px 0 10px; */
    padding: 15px 0 0 10px;
  }

  .auth input {
    width: 93%;
  }

  .auth select {
    width: 97%;
  }

  .auth button {
    width: 97%;
    padding-left: 0;
  }
}
